<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="/static/css_templates/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css_templates/index.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />
    <style>
    </style>

</head>

<body>
<div id="container">
    <div id="bd">
        <div id="main">
            <h1 class="title">
                <div class="logo large"></div>
            </h1>
            <div class="nav ue-clear"></div>

            <div class="inputArea">
            <form method="post" action="#" enctype="multipart/form-data">
                <input type="text" name="inputWords" id = "tags" class="searchInput">
                <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
                <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
                <script>
                    var availableTags = [
                        {% for language in languages %}
                            "{{language|safe}}",
                        {% endfor %}
                        ];
                    $("#tags").autocomplete({
                        source: function(Req, Resp) {
                            var Result = $.ui.autocomplete.filter(availableTags, Req.term);
                            Resp(Result.slice(0, 10));
                    }
                    });
                </script>
                <button class="searchButton" type="submit", value="Search"></button>
            </form>

        </div><!-- End of main -->
    </div><!--End of bd-->

    <div class="foot">
        <div class="wrap">
            <div class="copyright">Copyright &copy; Ming Xia, Jack Knudson</div>
        </div>
    </div>

</div>
</div>
</body>
</html>