<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="/static/css_templates/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css_templates/index.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
    <div id="bd">
        <div id="main">
            <h1 class="title">
                <div class="logo large"></div>
            </h1>
            <div class="nav ue-clear">

            </div>

            <div class="inputArea">
            <form method="post" action="#" enctype="multipart/form-data">
                <input type="text" name="inputWords" id = "tags" class="searchInput">
                <script>
                    $( function() {
                        var availableTags = [
                            {% for language in languages[:10] %}
                                "{{language}}",
                            {% endfor %}
                            ];
                    $("#tags").autocomplete({
                        source: availableTags
                    });
                    } );
                </script>
                <button class="searchButton" type="submit", value="Search"></button>
            </form>
            </div>

        </div><!-- End of main -->
    </div><!--End of bd-->

    <div class="foot">
        <div class="wrap">
            <div class="copyright">Copyright &copy; Ming Xia, Jack Knudson</div>
        </div>
    </div>

</div>
</body>
</html>