<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="/static/css_templates/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css_templates/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="container">
    <div id="bd">
        <div id="main">
            <h1 class="title">
                <div class="logo large"></div>
            </h1>
            <div class="nav ue-clear">

            </div>

            <div class="inputArea">
            <form method="post" action="#" enctype="multipart/form-data">
                <input type="text" name="query" class="searchInput"/>
                <button class="searchButton" type="submit", value="Search"></button>
            </form>
            </div>

        </div><!-- End of main -->
    </div><!--End of bd-->

    <div class="foot">
        <div class="wrap">
            <div class="copyright">Copyright &copy; Ming Xia, Jack Knudson</div>
        </div>
    </div>

</div>
</body>
</html>